* {

    box-sizing: border-box;
}
div#wrapper {

    margin: auto;
    width: 1000px;
    padding: 20px;

}


.logoBurton {

    height: 40px;
    width: 340px;
}
nav {

    margin-top: 20px;
    margin-bottom: 20px;

}
nav a {

    margin-right: 20px;

}
.visuals {

    position: absolute;
    left: 52%;
    top: 14%;
    padding-left: 3px;

}
.apple {

    width: 497px;

}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}