* {

    box-sizing: border-box;
}
div#wrapper {

    margin: auto;
    width: 1000px;
    background-color: #ffe9ec
    padding: 20px;

}


.logoBurton {

    height: 40px;
    width: 340px;
}
nav {

    margin-top: 20px;
    margin-bottom: 20px;

}
nav a {

    margin-right: 20px;

}
section.apple, section.visuals {

    width: 50%;
    float: left;

}
section.visuals {

    text-align: right;

}